{% extends "base.html" %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h2>Create Account ✨</h2>
        <p style="opacity:0.7; margin-bottom:15px;">
            Join CHATTI and start chatting
        </p>

        <form method="POST">

            <input 
                type="text" 
                name="username" 
                placeholder="Username" 
                required
            >

            <input 
                type="password" 
                name="password" 
                placeholder="Password" 
                required
            >

            <button type="submit">Sign Up</button>

        </form>

        <p style="margin-top:15px;">
            Already have an account? 
            <a href="/login">Log in</a>
        </p>

    </div>

</div>

{% endblock %}